<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Heading 1</h2>
    <svg class="icon icon--primary collapsible__chevron">
      <use xlink:href="./images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, cum.
      Quisquam harum quidem voluptatum necessitatibus voluptatibus, ab neque
      aperiam soluta?
    </p>
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Heading 1</h2>
    <svg class="icon icon--primary collapsible__chevron">
      <use xlink:href="./images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, cum.
      Quisquam harum quidem voluptatum necessitatibus voluptatibus, ab neque
      aperiam soluta?
    </p>
  </div>
</div>
