<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eum quod
    molestiae aliquam quidem labore natus, quisquam illum facere autem?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Rajeev Choudhary</h3>
        <p class="quote__organization">BC Media Ltd.</p>
      </div>
    </div>
  </footer>
</blockquote>
